<header class="header">
    <div class="container">
        <div class="logo-container">
            <a href="#">
                <img
                    class="logo"
                    src="../../../assets/images/logo.png"
                    alt="logo-1"
                />
            </a>
        </div>
        <div class="logo-container">
            <a href="#">
                <img
                    class="logo-2"
                    src="../../../assets/images/mc_logo.png"
                    alt="mc-logo"
                />
            </a>
        </div>
    </div>
</header>
